@using Musichord.Models.Entities
@model Musichord.Models.ViewModels.FriendsViewModel 


@{
    ViewData["Title"] = "Friends";
    var isOwnProfile = ViewData["IsOwnProfile"] as bool? ?? false;

}

<div class="container">
    <div class="row">
        <h1 class="text-center text-musichord-green">Your Friends</h1>
        @if (!isOwnProfile)
        {
            @if (Model.Friends.Count() == 0)
            {
                <div class="row" id="emptyState" style="display: block;">
                    <div class="col text-center py-5">
                        <div class="text-muted">
                            <i class="bi bi-person-dash-fill" style="font-size: 4rem;"></i>
                            <h4 class="mt-3">It looks like you dont have any friends :(</h4>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="friends-col-1">
                                Name
                            </th>
                            <th class="friends-col-2">
                                Details
                            </th>
                            <th class="friends-col-3">
                                Actions
                            </th>
                        </tr>
                    </thead>                     
                    @foreach (var friend in Model.Friends)
                    {
                        <tr>
                            <td>@friend</td>
                            <td><button type="button" class="btn btn-musichord-green viewFriendBtn" data-user-name="@friend">View Profile</button></td>     
                            <td><button type="button" class="btn btn-musichord-green declineFriendReqBtn" data-user-name="@friend">Remove Friend</button> </td>
                        </tr>
                    }       
                </table>
            }
        }
        else
        {
            <p class="lead text-muted" style="text-decoration: underline">Here are @ViewData["Handle"]'s favorite songs:</p>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 class="text-musichord-green text-center">Your Pending Friend Requests</h1>
        @if (!isOwnProfile)
        {
            @if (Model.FriendRequests.Count() == 0)
            {
                <div class="row" id="emptyState" style="display: block;">
                    <div class="col text-center py-5">
                        <div class="text-muted">
                            <i class="bi bi-person-dash-fill" style="font-size: 4rem;"></i>
                            <h4 class="mt-3">It looks like no one wants to be your friend :(</h4>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="friends-col-1">
                                Name
                            </th>
                            <th class="friends-col-2">
                                Details
                            </th>                        
                            <th class="friends-col-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    @foreach (var friend in Model.FriendRequests)
                    {
                        <tr>
                            <td>@friend</td>
                            <td><button type="button" class="btn btn-musichord-green viewFriendBtn" data-user-name="@friend">View Profile</button></td>     
                            <td>
                                <button type="button" class="btn btn-musichord-green acceptFriendReqBtn" data-user-name="@friend">Accept</button>
                                <button type="button" class="btn btn-musichord-green declineFriendReqBtn" data-user-name="@friend">Decline</button>
                            </td>     
                        </tr>
                    }
                </table>
            }
        }
        else
        {
            <p class="lead text-muted" style="text-decoration: underline">Here are @ViewData["Handle"]'s favorite songs:</p>
        }
    </div>
</div>


@section Scripts{
    <script defer type="module" src="~/js/musichordFriends.js"></script>
} 
