@model IEnumerable<Musichord.Models.Entities.Track>


@{
    ViewData["Title"] = "Profile";
    
    var isOwnProfile = ViewData["IsOwnProfile"] as bool? ?? false;
}

<div class="container">
    <div class="row">
        <img src="@ViewData["ProfilePicture"]" alt="Profile Picture" class="rounded-circle col-auto" style="width: 100px; height: 100%" />
        <h1 class="text-musichord-green col-auto">@ViewData["Handle"]'s Profile</h1>
        @if (isOwnProfile)
        {
            <p class="lead text-muted" style="text-decoration: underline">Here are your top 5 Spotify songs:</p>
        }
        else
        {
            <p class="lead text-muted" style="text-decoration: underline">Here are @ViewData["Handle"]'s favorite songs:</p>
        }
    </div>
</div>

@if (isOwnProfile)
{
    <button id="refreshFive" class="btn btn-musichord-green">Refresh Top Five</button>
}

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                -
            </th>
            <th>
                Name
            </th>
            <th>
                Artist
            </th>

        </tr>
    </thead>
    @{int count = 0;}
    @foreach (var track in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>
                <img src="@track.ImageUrl" alt="Album Art" style="width: 64px; height: 64px;" />
            </td>
            <td>@track.Name </td>
            <td>@track.Artist?.Name</td>
        </tr>
    }
</table>


@section Scripts{
    <script defer type="module" src="~/js/musichordProfile.js"></script>
} 
